DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_POSTGRES=transcendance
DB_PORT=5432

JWT_ACCESS=jwt_access
JWT_REFRESH=jwt_refresh

COOKIE_SECRET=cookie_secret

MAIN_HOST=localhost
MAIN_PORT=443

FRONTEND_HOST=localhost
FRONTEND_PORT=0

# Gateway
GATEWAY_HOST=localhost
GATEWAY_PORT=1

# Services
AUTH_HOST=localhost
AUTH_PORT=2

CHAT_HOST=localhost
CHAT_PORT=3

FRIEND_HOST=localhost
FRIEND_PORT=4

USER_HOST=localhost
USER_PORT=5

CHATG_HOST=localhost
CHATG_PORT=6

GAMEH_HOST=localhost
GAMEH_PORT=7

PONG_HOST=localhost
PONG_PORT=8

DINO_HOST=localhost
DINO_PORT=9

MATCHMAKING_HOST=localhost
MATCHMAKING_PORT=10

DEBUG=false

# For Google Sign-In
# Replace these with your own secure values
# You can generate these from the Google Developer Console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
